/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	scroll-behavior: smooth;
  }

body {
	background-color: #cec1be; 
	background-image: url(../assets/images/binarybg.png);
}

header, footer {background-color: #4e3b3a;}

a.nav-link, p.madeby {color: rgb(203, 195, 195);}

main {color: rgb(51, 47, 47);}

h2.titel {text-shadow: 0.5px 0.5px rgb(151, 150, 150);}

article.artikel {background-color: #dfd3d1;}

section.s1 {color: rgb(247, 241, 241); background-color: #93716f;}

a.hover {color: white;}

article.nogeen {background-color: #93716f; color: rgb(247, 241, 241);}